[project]
	description = 
[access "refs/*"]
  read = group centos-opstools/centos-release-opstools-core
  owner = group centos-opstools/centos-release-opstools-ptl
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group centos-opstools/centos-release-opstools-core
	label-Code-Review = -2..+2 group centos-opstools/centos-release-opstools-ptl
	label-Verified = -2..+2 group centos-opstools/centos-release-opstools-ptl
	label-Workflow = -1..+1 group centos-opstools/centos-release-opstools-core
	label-Workflow = -1..+1 group centos-opstools/centos-release-opstools-ptl
	label-Workflow = -1..+0 group Registered Users
	submit = group centos-opstools/centos-release-opstools-ptl
	read = group centos-opstools/centos-release-opstools-core
    read = group Registered Users
[access "refs/meta/config"]
    read = group centos-opstools/centos-release-opstools-core
    read = group Registered Users
[receive]
	requireChangeId = true
[submit]
	mergeContent = false
	action = fast forward only
